<div class="blank"></div>
<div class="splash-step">
    <div class="splash-inner">
        <div class="splash-group">
            <label class="splash-label"><span class="step-count">2.</span>business location</label>
            <div>
                <div [formGroup]="step2">
                    <div class="splash-field m-t-1 form-group">
                        <input type="text" inputmode="email" class="form-field bg-light-grey" placeholder="city" formControlName="city"  />
                        <span class="text-danger" *ngIf="step2.controls['city'].hasError('required') && (step2.controls['city'].dirty || step2.controls['city'].touched)">This field is required</span>
                    </div>
                    <div class="splash-btn-wrap m-t-3 form-group">
                        <button (click)="submitForm()" [disabled]="!step2.valid"  type="button" class="btn btn-solid btn-dark">next</button>
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
</div>