
<div class="t-wrapper">
    <div class="t-header">
        <div class="t-header-inner">
            <button class="btn-back">
                <img src="./assets/images/backbtn.svg" alt="" [routerLink]="[ '/restaurantlogin' ]">
            </button>
        </div>
    </div>
    <div class="t-body">
        <div class="signup-content scaled-content">
            
            <h4 class="big-heading">enter verification code</h4>
            <div class="f-form">
                
                    <div [formGroup]="pin_form">
                        <div class="f-row">
                            <div class="f-100">
                                <div class="f-wrap">
                                    <div class="otp-inputs">
                                        <label class="sm-label">enter the 4 digit number that we sent to</label>
                                        <label class="sm-label">{{emailphone}}</label>
                                        <span></span>
                                        <div class="opt-group">
                                            <div class="opt-input form-group">
                                                <input #pin11 type="text" maxlength="1" (keypress)="keyPressNumbers($event)" (input)="goTo($event,2)" class="f-field form-control" placeholder="0" formControlName="pin1" libAutoTab>
                                                <span class="text-danger" *ngIf="pin_form.controls['pin1'].hasError('required') && (pin_form.controls['pin1'].dirty || pin_form.controls['pin1'].touched)">Required</span>
			                                    </div>                                            
                                            <div class="opt-input form-group">
                                                <input #pin22 type="text" maxlength="1" (keypress)="keyPressNumbers($event)"  (input)="goTo($event,3)" class="f-field form-control" placeholder="0" formControlName="pin2">
                                                <span class="text-danger" *ngIf="pin_form.controls['pin2'].hasError('required') && (pin_form.controls['pin2'].dirty || pin_form.controls['pin2'].touched)">Required</span>
			                                    </div>
                                            <div class="opt-input form-group">
                                                <input #pin3 type="text" maxlength="1" (keypress)="keyPressNumbers($event)" (input)="goTo($event,4)" class="f-field form-control" placeholder="0" formControlName="pin3">
                                                <span class="text-danger" *ngIf="pin_form.controls['pin3'].hasError('required') && (pin_form.controls['pin3'].dirty || pin_form.controls['pin3'].touched)">Required</span>
			                                    </div>
                                            <div class="opt-input form-group">
                                                <input #pin4 type="text" maxlength="1" (keypress)="keyPressNumbers($event)"  class="f-field form-control" placeholder="0" formControlName="pin4">
                                                <span class="text-danger" *ngIf="pin_form.controls['pin4'].hasError('required') && (pin_form.controls['pin4'].dirty || pin_form.controls['pin4'].touched)">Required</span>			                                                                      
                                            </div>
                                        </div>
                                            
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottombtn">
                        <div class="sp-row">                        
                            <div class="sp-col col100">
                                <button (click)="btnVerifyClick('C')" type="button" [disabled]="!pin_form.valid" class="btn btn-solid btn-dark" >verify</button>
                            </div>
                        </div>
                        <div class="sp-row">                        
                            <div class="sp-col col100" style="text-align: center;">
                            <span style="text-align: center;"> didn't received anything? <a href="#">resend code</a></span>   
                            </div>
                        </div>
                    </div>
                
            </div>
            
        </div>
    </div>
</div>