<div class="edit-profile" [formGroup]="editor_Menu">
    <div class="edit-profile-header">
        <div class="e-p-left">
            <button class="btn-cancel" (click)="btnClickGoToMenuList();">
                <img src="./assets/images/cross.svg" alt="">
            </button>
            <h4>add item</h4>
        </div>
        <div class="e-p-right">
            <button class="btn-correct" (click)="submitMenuForm()" >
                <img src="./assets/images/tick-black.svg" alt="">
            </button>
        </div>
    </div>
    <div class="media-uploads m-media">
        <ul class="media-list" >
            <li>
                <div class="media-upload-area form-group">
                    <label for="media-upload-btn" class="media-upload-label">
                        <img src="./assets/images/plus-outlined.svg" alt="">
                        <input type="file" id="media-upload-btn" (change)="onSelectFile($event)" formControlName="file" accept="image/*">                          
                                                                                       
                    </label> 
                </div>                
            </li>      
            <div class="media-upload-area form-group" *ngFor="let list of imgs">
                <div *ngIf="imgs?.length">
                    <li>
                        <span class="media-img">
                            <img [src]="list.url" alt="">
                        </span>
                    </li> 
                </div>
            </div>           
        </ul>
        <p class="grey-text">add images or videos to display the item to your customer.</p><span class="text-danger" *ngIf="!imgs?.length">File is required.</span>
    </div>
    <div class="items-status">
        <div class="status-option">
            <label class="status" for="active">
                <h4>active</h4>
                <p>will be available in the menu.</p>
                <input type="radio" name="currentSstatus" value="active" id="active" checked>
                <span></span>
            </label>
        </div>
        <div class="status-option">
            <label class="status" for="inactive">
                <h4>inactive</h4>
                <p>will be hidden from the menu.</p>
                <input type="radio" name="currentSstatus" value="inactive" id="inactive">
                <span></span>
            </label>
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="name" value="" formControlName="itemName" inputmode="email" [(ngModel)]="itemName">
            <span class="text-danger" *ngIf="editor_Menu.controls['itemName'].hasError('required') && (editor_Menu.controls['itemName'].dirty || editor_Menu.controls['itemName'].touched)">This field is required</span>
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" class="f-field form-control" placeholder="price ($)" formControlName="itemPrice" appTwoDigitDecimaNumber inputmode="numeric" [(ngModel)]="itemPrice">
            <span class="text-danger" *ngIf="editor_Menu.controls['itemPrice'].hasError('required') && (editor_Menu.controls['itemPrice'].dirty || editor_Menu.controls['itemPrice'].touched)">This field is required</span>
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <textarea name="" class="f-area form-control" inputmode="email"  (input)="ondescInput($event)"></textarea>
        </div>
    </div>
    <h4 class="form-heading m-t-2 m-b-05">choose category</h4>
    <div class="f-multi-row">
        <div class="f-50">
            <div class="f-wrap">
                <div class="s-select bg-grey">
                    <ng-select [items]="mainCategory"
                            bindLabel="category_name"
                            bindValue="id"
                            placeholder="main category"
                            (change)="mainCategoryDDLSelect(mainselection)"
                            [(ngModel)]="mainselection"                            
                            formControlName="maincategoryddl"
                            >
                    <ng-template ng-header-tmp>
                        <button class="btn btn-sm btn-secondary" (click)="openAddEditCategoryPopup(categorymodal,true)">add new +</button>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">                        
                        <b>{{item.category_name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">                        
                        <b>{{item.category_name}}</b>
                    </ng-template>                    
                    </ng-select>
                    <span class="text-danger" *ngIf="!editor_Menu.controls['maincategoryddl'].valid && editor_Menu.controls['maincategoryddl'].touched">
                        <span class="danger" *ngIf = "editor_Menu.controls['maincategoryddl'].hasError('required')">This field is required</span>
                    </span>
                </div>
            </div>
        </div>
        <div class="f-50">
            <div class="f-wrap">
                <div class="s-select bg-grey">
                    <ng-select [items]="subCategory"
                            bindLabel="category_name"
                            bindValue="id"
                            placeholder="sub category"
                            (change)="subCategoryDDLSelect(subselection)"
                            [(ngModel)]="subselection"                            
                            formControlName="subCategoryddl"
                            >
                    <ng-template ng-header-tmp>
                        <button class="btn btn-sm btn-secondary" (click)="openAddEditCategoryPopup(categorymodal,false)">add new +</button>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">                        
                        <b>{{item.category_name}}</b>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index">                        
                        <b>{{item.category_name}}</b>
                    </ng-template>                    
                    </ng-select>
                    <span class="text-danger" *ngIf="!editor_Menu.controls['subCategoryddl'].valid && editor_Menu.controls['subCategoryddl'].touched">
                        <span class="danger" *ngIf = "editor_Menu.controls['subCategoryddl'].hasError('required')">This field is required</span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <h4 class="form-heading m-t-1 m-b-05"><span style="cursor: hand;" (click)="openCustomizationModel(mymodal)">customizations +</span>
        <span class="text-danger" *ngIf="!customization?.length" [hidden]="true">This field is required</span>
    </h4>
    <div class="add-options">
        <div class="add-option" *ngFor="let items of customization" >
            <div class="add-option-header">
                <h4>{{items.customization_name}}</h4>
            </div>
            <div class="add-option-body">
                <div class="options-table">
                    <table class="table" *ngFor="let param of items.param">
                        <tr>
                            <td>{{param.title}}</td>
                            <td>${{param.price}}</td>
                            <td><input type="checkbox" [(ngModel)]="param.status" [ngModelOptions]="{standalone: true}"></td>
                        </tr>                        
                    </table>
                </div>
            </div>
            <div class="add-option-footer">
                <div class="options-table" *ngIf ="addCustmization && custmizationName===items.customization_name">
                    <table class="table">
                        <tr>
                            <td>
                                <input type="text" class="f-field form-control form-group" placeholder="name" formControlName="newCustomizationName" [(ngModel)]="newCustName" inputmode="email" >
                                <span class="text-danger" *ngIf="editor_Menu.controls['newCustomizationName'].hasError('required') && (editor_Menu.controls['newCustomizationName'].dirty || editor_Menu.controls['newCustomizationName'].touched)">This field is required</span>
                            </td>
                            <td>
                                <input type="text" class="f-field form-control form-group" placeholder="price ($)" formControlName="newCustomizationPrice" [(ngModel)]="newCustPrice" appTwoDigitDecimaNumber inputmode="numeric" >
                                <span class="text-danger" *ngIf="editor_Menu.controls['newCustomizationPrice'].hasError('required') && (editor_Menu.controls['newCustomizationPrice'].dirty || editor_Menu.controls['newCustomizationPrice'].touched)">This field is required</span>
                            </td>
                            <td><button (click)="addCustomizationDetails(items.id,'add')"> <img src="./assets/images/checkmark.svg" alt=""></button>
                                <button (click)="addCustomizationDetails('','close')"> <img src="./assets/images/cross.svg" alt=""></button></td>
                        </tr>                        
                    </table>
                </div>
                <button  class="btn-add-option" (click)="addCustomizationDetails(items.id,'open')">+ add</button> 
            </div>
        </div>
    </div>  
   
    <ng-template #mymodal let-modal id="mymodal">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Customizations</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="paas-table">
            <table class="table-details">                
                <tr>
                    <td>
                        <input type="text" class="f-field form-control" formControlName="newCustomizationNamePopup" placeholder="new customization" [(ngModel)]="newCustomizationName" inputmode="email">                   
                        <span class="text-danger" *ngIf="editor_Menu.controls['newCustomizationNamePopup'].hasError('required') && (editor_Menu.controls['newCustomizationNamePopup'].dirty || editor_Menu.controls['newCustomizationNamePopup'].touched)">This field is required</span>
                    </td>
                    <td>
                        <span class="status" (click)="addEditDeleteCustomization('add','')">
                            <img src="./assets/images/checkmark.svg" alt="">
                        </span>
                    </td>
                </tr> 
                <tr *ngFor="let items of customizationList">
                    <td class="{{items.selected?'selected':''}}" (click)="arrangeCustList(items)">{{items.customization_name}}</td>                        
                    <td>
                        <span class="status" (click)="addEditDeleteCustomization('delete',items.id)">
                            <img src="./assets/images/cross.svg" alt="">
                        </span>
                    </td>
                </tr>
               
            </table>
                   
        </div>    
      </div>
      <!--
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
      </div>-->
    </ng-template> 

    <ng-template #categorymodal let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">{{ isCategoryPopup == true ? 'add category' : 'add sub category' }}</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="paas-table">
              <table class="table-details">  
                  <tr *ngIf="!isCategoryPopup">  
                        <ng-select [items]="mainCategory"
                        bindLabel="category_name"
                        bindValue="id"
                        placeholder="main category"
                        (change)="mainCategoryDDLSelect(mainselection)"
                        [(ngModel)]="mainselection"                            
                        formControlName="maincategoryddlPopup"
                        >                        
                        <ng-template ng-label-tmp let-item="item">                        
                            <b>{{item.category_name}}</b>
                        </ng-template>
                        <ng-template ng-option-tmp let-item="item" let-index="index">                        
                            <b>{{item.category_name}}</b>
                        </ng-template>                    
                        </ng-select>
                        <span class="text-danger" *ngIf="!editor_Menu.controls['maincategoryddlPopup'].valid && editor_Menu.controls['maincategoryddlPopup'].touched">
                            <span class="danger" *ngIf = "editor_Menu.controls['maincategoryddlPopup'].hasError('required')">This field is required</span>
                        </span> 
                  </tr>              
                  <tr>
                      <td>
                          <input type="text" class="f-field form-control" formControlName="addnewCategory" placeholder="add new" [(ngModel)]="isAddCategoryText" inputmode="email">
                          <span class="text-danger" *ngIf="editor_Menu.controls['addnewCategory'].hasError('required') && (editor_Menu.controls['addnewCategory'].dirty || editor_Menu.controls['addnewCategory'].touched)">This field is required</span>
                      </td>                        
                      <td>
                          <span class="status" (click)="addEditDeleteCategories('add','','')">
                              <img src="./assets/images/checkmark.svg" alt="">
                          </span>
                      </td>
                  </tr> 
                  <ng-container *ngIf="isCategoryPopup">
                  <tr *ngFor="let items of mainCategory">
                      <td>
                          <h6 *ngIf="!isEditCategory || isEditCategoryId !=items.id">{{items.category_name}}</h6>
                          <div *ngIf="isEditCategory && isEditCategoryId==items.id">
                          <input type="text" 
                          class="f-field form-control" formControlName="editnewCategory" placeholder="add new" [(ngModel)]="isEditCategoryText" inputmode="email">
                          <span class="text-danger" *ngIf="editor_Menu.controls['editnewCategory'].hasError('required') && (editor_Menu.controls['editnewCategory'].dirty || editor_Menu.controls['editnewCategory'].touched)">This field is required</span>
                          </div>
                      </td>                        
                      <td>
                          <div *ngIf="!isEditCategory || isEditCategoryId !=items.id ">
                            <span class="status" (click)="addEditDeleteCategories('editMode',items.id,items.category_name)">
                                <img src="./assets/images/btn-edit.svg" alt="">
                            </span>
                            <span class="status" (click)="addEditDeleteCategories('delete',items.id,'')">
                                <img src="./assets/images/btn-delete.svg" alt="">
                            </span>
                          </div>
                          <div *ngIf="isEditCategory && isEditCategoryId ==items.id ">
                            <span class="status" (click)="addEditDeleteCategories('edit',items.id,'')">
                                <img src="./assets/images/checkmark.svg" alt="">
                            </span>
                            <span class="status" (click)="addEditDeleteCategories('cancleMode',items.id,'')">
                                <img src="./assets/images/cross.svg" alt="">
                            </span>
                          </div>                        
                      </td>
                  </tr> 
                </ng-container>       
                <ng-container *ngIf="!isCategoryPopup">
                    <tr  *ngFor="let items of subCategory">
                        <td>
                            <h6 *ngIf="!isEditCategory || isEditCategoryId !=items.id">{{items.category_name}}</h6>
                            <div *ngIf="isEditCategory && isEditCategoryId==items.id">
                            <input type="text" 
                            class="f-field form-control" formControlName="editnewCategory" placeholder="add new" [(ngModel)]="isEditCategoryText" inputmode="email">
                            <span class="text-danger" *ngIf="editor_Menu.controls['editnewCategory'].hasError('required') && (editor_Menu.controls['editnewCategory'].dirty || editor_Menu.controls['editnewCategory'].touched)">This field is required</span>
                            </div>
                        </td>                        
                        <td>
                            <div *ngIf="!isEditCategory || isEditCategoryId !=items.id ">
                              <span class="status" (click)="addEditDeleteCategories('editMode',items.id,items.category_name)">
                                  <img src="./assets/images/btn-edit.svg" alt="">
                              </span>
                              <span class="status" (click)="addEditDeleteCategories('delete',items.id,'')">
                                  <img src="./assets/images/btn-delete.svg" alt="">
                              </span>
                            </div>
                            <div *ngIf="isEditCategory && isEditCategoryId ==items.id ">
                              <span class="status" (click)="addEditDeleteCategories('edit',items.id,'')">
                                  <img src="./assets/images/checkmark.svg" alt="">
                              </span>
                              <span class="status" (click)="addEditDeleteCategories('cancleMode',items.id,'')">
                                  <img src="./assets/images/cross.svg" alt="">
                              </span>
                            </div>                        
                        </td>
                    </tr> 
                  </ng-container>          
              </table>                     
          </div>    
        </div>
        <!--
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
        </div>-->
      </ng-template>

</div>
<div class="loader-container {{showLoader?'show':''}}">
    <div class="loader"></div>
</div>

