<h1>Angular 12 Image Upload with Preview</h1>
 <input type="text" [(ngModel)]="textvalue">  
<form [formGroup]="myForm" (ngSubmit)="submit()" class="edit-profile">
     
    <div class="form-group">
        <label for="name">Name</label>
        <div class="f-row">
            <div class="f-wrap">
                <input type="text" class="f-field form-control" placeholder="name" value="" formControlName="itemName" appTwoDigitDecimaNumber>
                
            </div>
        </div>
        <input type="text" class="f-field form-control" placeholder="price ($)" formControlName="itemPrice" appTwoDigitDecimaNumber>
        <input 
            formControlName="name"
            id="name" 
            type="text" 
            class="form-control" appTwoDigitDecimaNumber class="f-field form-control">
        <div *ngIf="f.name.touched && f.name.invalid" class="alert alert-danger">
            <div *ngIf="f.name.errors && f.name.errors.required">Name is required.</div>
            <div *ngIf="f.name.errors && f.name.errors.minlength">Name should be 3 character.</div>
        </div>
    </div>
    
    <div class="form-group">
        <label for="file">File</label>
        <input 
            formControlName="file"
            id="file" 
            type="file" 
            class="form-control"
            (change)="onSelectFile($event)">
        <div *ngIf="f.file.touched && f.file.invalid" class="alert alert-danger">
            <div *ngIf="f.file.errors && f.file.errors.required">File is required.</div>
        </div>
    </div>
    
    <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">
        
    <button class="btn btn-primary" type="submit">Submit</button>

    <ng-template #content let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Hello, World!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
        </div>
      </ng-template>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
</form>
