<!-- <form novalidate>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" placeholder="business name">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" placeholder="business location">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" placeholder="established since">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" placeholder="one liner / tagline">
        </div>
    </div>
</form> -->
<form [formGroup]="form" novalidate >
   
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="business_name" id="business_name"
                formControlName="business_name" placeholder="business name">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="business_location" id="business_location"
                formControlName="business_location" placeholder="business location">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="business_est_since" id="business_est_since"
                formControlName="business_est_since" placeholder="established since">
        </div>
    </div>
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="business_definition" id="business_definition"
                formControlName="business_definition" placeholder="definition">
        </div>
    </div>
    <!-- <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="phone_number" id="phone_number"
                formControlName="phone_number" placeholder="phone number">
        </div>
    </div>    
    <div class="f-row">
        <div class="f-wrap">
            <input type="text" (input)="onInput($event)" class="f-field form-control" name="email" id="email" formControlName="email"
                placeholder="email">
        </div>
    </div> -->
</form>