/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import '~bootstrap/scss/bootstrap';
// Available font styles
// Thin 100
// Extra-light 200
// Light 300
// Regular 400
// Medium 500
// Semi-bold 600
// Bold 700
// Extra-bold 800
// Black 900
.loader-container{
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);  
    z-index: 999999999999;
    display: none;
    &.show{
        display: block;
    }
}
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: fixed;
  
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  td{
    padding-left: 8px !important;
    &.selected{
       box-shadow: inset 4px 0px 0 0 #605d5d;
    }
  }


  .c-days{
    padding: 1px 0;
    border-radius: 4px;
    background: #e8e8e8;
    margin: 0 1px 0;
    text-align: center;
    display: inline-block;
    height: 17px;
    color: #000;
    width: 32px;
    font-size: 11px;
    border-bottom: 1px solid #cbcbcb;
}